.post-body {
  padding: 0;
  .post-content {
    max-width: 100%;
    padding: 4px 16px 16px;
  }
  .post-images {
    .carousel {
    }
    .carousel-item {
      img {
        width: 100%;
        height: fit-content;
        object-fit: contain;
      }
    }
  }
}
