.user_card_info {
  display: flex;
  flex-direction: column;
  .user_card_info_username {
    font-weight: bold;
    font-size: large;
    color: black;
  }
  .user_card_info_fullname {
    font-size: medium;
    color: gray;
  }
}

.user_card_container:hover {
  background-color: #ecf3ff;
}
