.comment-card {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 12px;
  .avatar-container {
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .avatar-container:hover {
    cursor: pointer;
  }
  .content-comment {
    background: #f0f2f5;
    border-radius: 18px;
    max-width: 85%;
    padding: 8px 12px;
    position: relative;
    width: fit-content;
    .content {
      word-wrap: break-word;
      color: #050505;
    }
    .edit-text {
      color: #65676b;
      font-weight: 500;
    }
    .edit-text:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    .number-like-comment {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 8px;
      background: #ffffff;
      border-radius: 12px;
      bottom: -9px;
      right: 0;
      svg {
        width: 18px;
        height: 18px;
      }
      span {
        color: #65676b;
        opacity: 0.5;
      }
    }
  }
  .user-comment {
    color: #050505;
    font-size: 16px;
    font-weight: 600;
  }

  .footer-comment {
    max-width: 70%;
    display: flex;
    gap: 12px;
    margin-left: 12px;
    color: #65676b;
    font-weight: 500;
    .tool-footer:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
